<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>
            <img src="../../../../assets/logo.png">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./login" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>login</mat-icon>
                <span>Iniciar Sesion</span>
            </a>
            <a routerLink="./registro" mat-list-item (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>person_add</mat-icon>
                <span>Crear Cuenta</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <h2>Héroes App</h2>
        <img src="../../../../assets/logo.png">
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</mat-sidenav-container>