<div fxLayout="column">
    <div>
        <h1>Buscar Héroe</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column" class="animate__animated animate__fadeIn">
        <mat-form-field class="example-full-width" appearance="fill">
            <input type="text"
                   placeholder="Buscar héroe"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">
            <mat-autocomplete (optionSelected)="opcionSeleccionada($event)" autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero }}
                </mat-option>
                <mat-option value="" *ngIf="termino.length > 0">
                    No se encontro nada con el término {{termino}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div *ngIf="heroeSeleccionado" class="tarjeta animate__animated animate__fadeIn">
        <app-heroe-tarjeta [heroe]="heroeSeleccionado"></app-heroe-tarjeta>
    </div>
    <div *ngIf="!heroeSeleccionado" class="spinner animate__animated animate__fadeIn">
        <p>Busque un héroe para poder verlo aquí</p>
        <mat-spinner></mat-spinner>
    </div>
</div>
